<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="extend" ng-class="{active: !compoundMode}" ng-click="toggleMode(false)">
          <a>Simple Interest</a>
        </li>
        <li role="presentation" class="extend" ng-class="{active: compoundMode}" ng-click="toggleMode(true)">
          <a>Compound Interest</a>
        </li>
      </ul>
    </div>
    <form novalidate>
      <div class="form-group">
        <label for="principal">Principal</label>
        <input type="number" class="form-control" id="principal" placeholder="Principal amount in $" ng-model="principal">
      </div>
      <div class="form-group">
        <label for="rateOfInterest">Rate of Interest</label>
        <input type="number" class="form-control" id="rateOfInterest" placeholder="Rate of Interest in %" ng-model="rate">
      </div>
      <div class="form-group">
        <label for="timePeriod">Time Period</label>
        <input type="number" class="form-control" id="timePeriod" placeholder="Time Period in Years" ng-model="time">
      </div>
      <div class="form-group" ng-show="compoundMode">
        <label for="compoundFrequency">Compounded</label>
        <select id="compoundFrequency" class="form-control" ng-model="freq">
          <option value="12">Monthly</option>
          <option value="4">Quarterly</option>
          <option value="2">Half-Yearly</option>
          <option value="1">Annually</option>
        </select>
      </div>

      <div class="form-group">
          <button class="btn btn-primary" ng-click="calcInterest()">Submit</button>
          <button class="btn btn-default" ng-click="initValues()">Clear</button>
        </div>
    </form>
  </div>
  <div class="col-sm-6">
    <table class="table table-hover">

      <thead>
        <tr>
          <th>Year</th>
          <th>Interest</th>
          <th>Amount</th>
        </tr>

      </thead>
      <tbody>
        <tr ng-repeat="yearly in calcTable">
          <td>Year {{$index + 1}}</td>
          <td>{{yearly.interest | currency}}</td>
          <td>{{yearly.amount | currency}}</td>
        </tr>
      </tbody>
    </table>
    <div class="well">
      <b>Grand total of interest :</b> {{interest | currency}}
      <br/>
      <b>Amount for all the years : </b> {{amount | currency}}
    </div>
    

  </div>
</div>
